.login-page {
  background-color: rgb(189, 170, 191);
}

.login-card-body {
    background-color: rgb(238, 229, 240);
    color: rgb(98, 98, 98);
}

img {
  height: auto;
  width: 300px;
  padding-top: 10px;
}

a {
  color: rgb(98, 98, 98);
}

.cursor{
  cursor: pointer;
}
