<section class="vh-100 login-page">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div
          class="card shadow-2-strong login-card-body"
          style="border-radius: 2rem"
        >
          <div class="card-body p-5 text-center">
            <div class="login-logo">
              <img src="../../../assets/dist/img/LogoPrincipal.png" />
            </div>
            <h4 class="my-5">Registro</h4>

            <form (ngSubmit)="onRegister()" [formGroup]="registerForm">
              <div class="input-group mb-3">
                <input
                  type="email"
                  class="form-control"
                  placeholder="Email"
                  formControlName="email"
                  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                  required
                />
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span
                      class="fas fa-envelope"
                      style="color: rgb(48, 37, 37)"
                    ></span>
                  </div>
                </div>
              </div>
              <div class="input-group mb-3">
                <input
                  type="password"
                  class="form-control"
                  formControlName="password"
                  placeholder="Password"
                  required
                />
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span
                      class="fas fa-lock"
                      style="color: rgb(48, 37, 37)"
                    ></span>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <button
                    type="submit"
                    class="btn btn-outline-secondary btn-block"
                    [disabled]="registerForm.invalid"
                  >
                    Registrarse
                  </button>
                </div>
              </div>
            </form>
            <hr />
            <a routerLink="/login" class="text-center link-reg"
              >Ya tengo una cuenta</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
