<div class="container mt-4 mx-4">
  <div class="card">
    <div class="card-body">
      <span class="h3">Inventario</span>
      <button class="btn btn-dark btn-lg float-end" routerLink="/create-item">Agregar</button>
      <table class="table table-striped mt-3">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripción</th>
            <th scope="col">Cantidad</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Item1</td>
            <td>Decripción 1</td>
            <td>9999</td>
            <td>
              <i class="material-symbols-outlined text-info mr-2">edit</i>
              <i class="material-symbols-outlined text-danger">delete</i>
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Item2</td>
            <td>Decripción 2</td>
            <td>9999</td>
            <td>
              <i class="material-symbols-outlined text-info mr-2">edit</i>
              <i class="material-symbols-outlined text-danger">delete</i>
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Item3</td>
            <td>Decripción 3</td>
            <td>9999</td>
            <td>
              <i class="material-symbols-outlined text-info mr-2">edit</i>
              <i class="material-symbols-outlined text-danger">delete</i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
