<div class="container mt-4 mx-4">
  <div class="card">
    <div class="card-body">
      <span class="h3">Inventario</span>
      <button class="btn btn-dark btn-lg float-end" routerLink="/create-item">Agregar</button>
      <h4 class="container mt-4" *ngIf="items.length == 0">No hay items para mostrar</h4>
      <table *ngIf="items.length > 0" class="table table-striped mt-3">
        <thead>
          <tr>
            <th scope="col">Código</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripción</th>
            <th scope="col">Cantidad</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of items">
            <td>{{ item.codigo }}</td>
            <td>{{ item.nombre }}</td>
            <td>{{ item.descripcion }}</td>
            <td>{{ item.cantidad}}</td>
            <td>
              <i class="material-symbols-outlined text-info mr-2" [routerLink]="['/edit-item', item.id]">edit</i>
              <i (click)="eliminarItem(item.id)" class="material-symbols-outlined text-danger">delete</i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
