
<nav class="navbar navbar-dark bg-dark fixed-top">
  <nav class="container-fluid">
    <div href="#" class="brand-link">
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <img
      src="../../../assets/dist/img/DMLogoGris.png"
      alt="Logo"
      class="brand-image ms-3 me-2"
    />
    <a class="navbar-brand" href="#">Dashboard Monitor</a>
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Dashboard Monitor</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" [routerLink]="['/dashboard']">
              <i class="fa-solid fa-gauge mx-2"></i>
              <span>Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" [routerLink]="['/dashboard/inventario']">
              <i class="fa-solid fa-boxes-stacked mx-2"></i>
              <span>Inventario</span>
            </a>
          </li>
          <hr>
          <li class="nav-item">
            <a class="nav-link" style="cursor: pointer" (click)="logout()">
              <i class="fa-solid fa-right-from-bracket mx-2"></i>
              <span>Cerrar Sesión</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>




