<section class="vh-100 login-page">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div
          class="card shadow-2-strong login-card-body"
          style="border-radius: 2rem"
        >
          <div class="card-body p-5 text-center">
            <div class="login-logo">
              <img src="../../../assets/dist/img/LogoPrincipal.png" />
            </div>
            <h4 class="my-5">Recuperar Contraseña</h4>
            <strong>Ingrese su Email</strong>
            <form (ngSubmit)="resetPass()" [formGroup]="forgotPasswordForm">
              <div class="form-group">
                <input
                  type="email"
                  class="form-control"
                  formControlName="email"
                  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                  required
                />
              </div>
              <div class="form-group text-center">
                <button
                  class="btn btn-primary my-4"
                  [disabled]="forgotPasswordForm.invalid"
                >
                  Reiniciar contraseña
                </button>
              </div>
              <hr />
              <div class="form-group text-center">
                <a
                  routerLink="/login"
                  style="cursor: pointer; text-decoration: none"
                  >Volver a pantalla de inicio de sesión</a
                >
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
